# Built application files
*.apk
*.apks
*.aab
*.aar
*.dex
*.class

# Gradle files
.gradle/
build/
*/build/

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
.navigation/
captures/
.externalNativeBuild
.cxx

# OS specific files
.DS_Store
Thumbs.db

# Keystore files (do not commit secret keys)
*.jks
*.keystore

# Google Services (if containing sensitive keys)
# google-services.json

# Dependencies
node_modules/

# Cloudflare Wrangler
.dev.vars
.wrangler/

#other
mem3/
member1/